/npm-debug.log
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

/.idea
_ide_helper.php

# workspace files are user-specific
*.sublime-workspace
/*.sublime-project

sftp-config.json
/composer.lock
