/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

_ide_helper.php

# workspace files are user-specific
*.sublime-workspace
/*.sublime-project

sftp-config.json
/npm-debug.log
