/*选择图片素材对话框*/
#filetab {
    display: block;
    margin: 0;
    padding: 0;
    width: 650px;
}
.filelist {
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    height: 400px;
    overflow-y: scroll;
}
.filelist li {
    display: block;
    float: left;
    overflow: hidden;
    margin: 5px 8px;
    padding: 1px;
    border: 2px solid transparent;
}
.filelist li.active {
    border: 2px solid #c00;
}
.filelist li img {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.filelist .focus {
    width: 125px;
    height: 62px;
}
.filelist .background {
    width: 125px;
    height: 182px;
}
/*图标选择*/
#icon-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
#icon-list li {
    display: inline-block;
    float: left;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 25px;
    margin: 3px;
    text-align: center;
    cursor: pointer;
}
#icon-list li:hover {
    background-color: #ccc;
}
#icon-list li.active {
    background-color: red;
    color: #fff;
}

/*选择链接对话框*/
.link-list {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.link-list li {
    float: left;
    display: block;
}

.link-list li .alink {
    float: left;
    background-color: #05B1CD;
    margin: 10px 15px;
    width: 145px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #FAFAFA;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}
.link-list a.active {
    background-color: #676777;
    color: #FFF;
}