#article-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 10px 25px;
}
#article-list li {
  display: block;
  overflow: hidden;
  border-bottom: 1px dashed #ddd;
  font-family: "微软雅黑";
  font-size: 17px;
  padding: 7px 18px;
}
#article-list a:hover {
  color: #E82516;
}
#article-list .title {
  display: block;
  float: left;
}
#article-list .time {
  display: inline-block;
  float: right;
  color: #888;
}

#article-main {
  display: block;
  overflow: hidden;
  padding: 20px 50px;
  background-color: #F9F9F9;
}
#article-main .title {
  display: block;
  text-align: center;
  font-family: "微软雅黑";
  font-size: 21px;
  color: #666;
}
#article-main .article-info {
  display: block;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  margin: 20px 0;
  text-align: center;
  padding: 6px 0;
  color: #777;
  font-size: 14px;
  font-family: "微软雅黑";
}
#article-main .pagination {
  display: block;
  overflow: hidden;
  float: right;
  margin-right: 20px;
  font-size: 16px;
}
#article-main .pagination a {
  color: #00c;
  margin: 0 10px;
}
#article-main #contents {
  font-size: 15px;
  font-family: "微软雅黑";
  color: #333;
}
#article-main .return-list {
  display: block;
  overflow: hidden;
  float: left;
  margin: 25px 20px;
  font-size: 16px;
}